{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Base titulo{% endblock %}
{% block 'nav-li' %}
    <li><a href="#">Download</a></li>
    <li><a href="#">Sobre</a></li>
{% endblock%}

{% block 'conteudo'%}
    <section id="cadastro" class="pagina-inteira bg-black">
       <div class="cadastro conteudo-principal">
            <div class="cadastro-conteudo">
                <h2>DRAGON IA</h2>
                <div class="cadastro-conteudo-func">
                    <img src="{% static 'img/verified-symbol-icon.svg' %}">
                    <p>Inteligencia artificial estratégica.</p>
                </div>
                <div class="cadastro-conteudo-func">
                    <img src="{% static 'img/verified-symbol-icon.svg' %}">
                    <p>Analise em tempo real</p>
                </div>
                <div class="cadastro-conteudo-func">
                    <img src="{% static 'img/verified-symbol-icon.svg' %}">
                    <p>Controle de gerenciamento.</p>
                </div>
                <div class="cadastro-conteudo-func">
                    <img src="{% static 'img/verified-symbol-icon.svg' %}">
                    <p>Simples e prático.</p>
                </div>
                <p class="cadastro-p">Transforme o mercado de opções binarias em <a>renda passiva</a><br>Não perca mais tempo e <a>junte-se agora!</a> aos<br> trades mais lucrativos do mercado.</p>
            </div>
            <div class="cadastro-formulario">
                <form method="POST" action="{% url 'cadastro' %}">
                    {% csrf_token %}
                    <legend>Crie uma conta agora mesmo!<br>é rapido e fácil</legend>
                    <div class="grupo-formulario-nome">
                        <div class="grupo-formulario">
                            <label for="primeiro-nome">Nome</label>
                            <input type="text" id="primeiro-nome" placeholder="Ex.: Maria">
                        </div>
                        <div class="grupo-formulario">
                            <label for="segundo-nome">Sobrenome</label>
                            <input type="text" id="segundo-nome" placeholder="Ex.: Luiza">
                        </div>
                    </div>
                    <div class="grupo-formulario-login">
                        <div class="grupo-formulario">
                            <label for="email">E-mail</label>
                            <input type="email" id="email" placeholder="Seu@email.com">
                        </div>
                        <div class="grupo-formulario">
                            <label for="senha">Senha</label>
                            <input type="password" id="senha" placeholder="Digite sua senha">
                        </div>
                        <div class="grupo-formulario">
                            <label for="conf-senha">Confirme sua senha</label>
                            <input type="text" id="conf-senha" placeholder="Digite sua senha novamente">
                        </div>
                    </div>
                    <div class="grupo-formulario-botao">
                        <div class="grupo-formulario largura-maxima">
                            <button class='cadastrar' type="submit">Cadastrar</button>
                        </div>
                    </div>
                    <div>
                        <p class="j-conta">Já tenho uma conta: <a href="#">Entrar</a></p>
                    </div>

                </form>

            </div>
        </div>'
    </section>
{% endblock%}