{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Download{% endblock %}
{% block 'nav-li' %}
        <li><a href=" {% url 'perfil' %}">Perfil</a></li>
        <li><a href=" {% url 'sair' %}">Sair</a></li>
{% endblock%}

{% block 'conteudo'%}
    <section class="pagina-inteira bg-black">
        <div class="conteudo-principal download">
            <div class="desenvolvimento">
                <h1>Em desenvolvimento</h1>
                <h2>- pagina Download -</h2>
                <p><a href="{% url 'download' %}">Clique aqui</a> para iniciar o download</p>
            </div>
        </div>
    </section>>
{% endblock %}